<!-- <p>pricing works!</p> -->
<div class="container">
    <div class="jumbotron" align="center">
        <h1 class="display-4" align="center">Payment Plans</h1>
        <div class="card-deck">
            <div class="card" align="center">
                <div class="card-body">
                    <h5 class="card-title">
                        <font size="6">$19</font>/month
                    </h5>
                    <p class="card-text"><font size="4"><b>Basic Plan</b></font></p>
                    <p class="card-text">Ultimate Features</p>
                    <p class="card-text">24/7 Support System</p>
                   <button type="button" class="btn btn-primary">Choose Plan</button>
                </div>
            </div>
            <div class="card"  align="center">
                <div class="card-body">
                    <h5 class="card-title"><font size="6">$29</font>/month</h5>
                   <p class="card-text"><font size="4"><b>Special Plan</b></font></p>
                    <p class="card-text">Ultimate Features</p>
                    <p class="card-text">24/7 Support System</p>
                    <button type="button" class="btn btn-primary">Choose Plan</button>
                </div>
            </div>
            <div class="card"  align="center">
                <div class="card-body">
                    <h5 class="card-title"><font size="6">$39</font>/month</h5>
                    <p class="card-text"><font size="4"><b>Extra Special Plan</b></font></p>
                    <p class="card-text">Ultimate Features</p>
                    <p class="card-text">24/7 Support System</p>
                    <button type="button" class="btn btn-primary" id="b1"><a hre='#'></a>Choose Plan</button>
                </div>
            </div>
        </div>

        
    </div>

    </div>
